
.vs/DescMET/v15/ipch/AutoPCH/fbb32a3e47c74ada/DESCOMPRESOR.ipch
*.tlog
*.log
*.obj
*.nupkg
*.targets
*.hpp
*.ipp

packages/boost.1.65.1.0/lib/native/include/*
packages/boost.1.65.1.0/lib/native/include/boost/compatibility/cpp_c_headers/cassert
packages/boost.1.65.1.0/lib/native/include/boost/compatibility/cpp_c_headers/cerrno
packages/boost.1.65.1.0/lib/native/include/boost/compatibility/cpp_c_headers/cctype
packages/boost.1.65.1.0/lib/native/include/boost/compatibility/cpp_c_headers/cfloat
packages/boost.1.65.1.0/lib/native/include/boost/asio/impl/src.cpp
*.pdb
*.idb
packages/boost.1.65.1.0/lib/native/include/boost/compatibility/cpp_c_headers/cstdarg
packages/boost.1.65.1.0/lib/native/include/boost/compatibility/cpp_c_headers/climits
packages/boost.1.65.1.0/lib/native/include/boost/compatibility/cpp_c_headers/climits
packages/boost.1.65.1.0/lib/native/include/boost/compatibility/cpp_c_headers/clocale
packages/boost.1.65.1.0/lib/native/include/boost/compatibility/cpp_c_headers/cmath
packages/boost.1.65.1.0/lib/native/include/boost/compatibility/cpp_c_headers/cstdlib
packages/boost.1.65.1.0/lib/native/include/boost/compatibility/cpp_c_headers/cstddef
packages/boost.1.65.1.0/lib/native/include/boost/compatibility/cpp_c_headers/cstddef
*.dll
*.lib
